body{
  background: yellow;
}
form label{
  display: block;
  font-size;25px;
}
th{
border:1px solid;
  border-color:black;
  text-aling:center;
  font-size:25px;
  color:brown;
}
td {
  border:1px solid;
  border-color: black;
  text-align:center;
  font-size:25px;
  color: black;
}
